* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  width: 100%;
  background-image: url("./assets/background.jpg");
}

a {
  text-decoration: none;
  font-size: 20px;
}